<ion-header>
  <ion-navbar>
    <ion-title>NG Europe Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <div *ngFor="let entry of schedule" [class.day-start]="entry.type === EntryType.NEW_DAY">
      <app-list-schedule [entry]="entry"></app-list-schedule>
    </div>
  </ion-list>
  <!--<ion-list>-->
    <!--<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">-->
      <!--<ion-icon name="{{item.icon}}" item-left></ion-icon>-->
      <!--{{item.title}}-->
      <!--<div class="item-note" item-right>-->
        <!--{{item.note}}-->
      <!--</div>-->
    <!--</button>-->
  <!--</ion-list>-->
  <!--<div *ngIf="selectedItem" padding>-->
    <!--You navigated here from <b>{{selectedItem.title}}</b>-->
  <!--</div>-->
</ion-content>
