  <div [class.day-start]="entry.type === EntryType.NEW_DAY">
    <div>{{entry.title}}</div>
    <div>{{entry.time | date:'shortTime'}}</div>
    <button *ngIf="isStarable(entry)" (click)="toggleStar(entry)" ion-button color="default">
      <ion-icon name="star" [class.yellow]="isStarred(entry)" item-left></ion-icon>
    </button>

    <div>
      <button (click)="displayToggle = !displayToggle" ion-button>
        <ion-icon name="arrow-down" item-left></ion-icon>
      </button>
      <p *ngIf="displayToggle">{{entry.description}}</p>
    </div>
  </div>
