<ion-item>
  <ion-icon (click)="toggleStar(entry)"
            [name]="isStarable(entry) ? 'star' : ''" [class.yellow]="isStarred(entry)"
            item-left></ion-icon>
  <h2>
    <small>{{entry.time | date:'shortTime'}}</small>
    {{entry.title}}
  </h2>
  <button *ngIf="entry.description" (click)="displayToggle = !displayToggle" ion-button clear
          style="vertical-align: middle" item-right>
    <ion-icon name="arrow-dropdown"></ion-icon>
  </button>
  <p style="white-space: normal" *ngIf="displayToggle">{{entry.description}}</p>
</ion-item>
